[submodule "rize-desktop"]
	path = rize-desktop
	url = git@github.com:mirkru37/rize-desktop.git
[submodule "rize-mobile"]
	path = rize-mobile
	url = git@github.com:mirkru37/rize-mobile.git
[submodule "rize-backend"]
	path = rize-backend
	url = git@github.com:mirkru37/rize-backend.git
